<?xml version="2.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	idxxx		= ""
	version 	= "1.0.0">

	<name>...alunnys Amazing App...</name>

	<description...>
		An Amazing app by alunny
	</description...>
	
	<gap:platforms>
		<gap:platform name="OSX" />
	</gap:platforms>

	<icon src="blurry.png" gap:role="default" />

    gap:splash src="weirdo.png" 

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
